h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Comfortaa;
}
body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
}
.new{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: linear-gradient(180deg, #9C3535 41.15%, rgba(156, 53, 53, 0.51) 100%, rgba(156, 53, 53, 0.51) 100%);
}
.recipe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
}


form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 50%;
}

form > input{
    background: #FAFAFA;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 15%;
    text-align: center;
    margin: 0 0.5em 0.5em 0.5em;

}




