td{
    color: black;
    font-family: "Roboto Light";
    display: flex;
    flex-direction: column;
    height: inherit;
    font-size: large;
    /*    font-weight: bolder;*/
    text-align: center;
}

tr{
    display: inline-block;
    flex-direction: row;
    height: inherit;
    margin-right: 25px;

}

