td{
    font-family: "Roboto Light";
    display: flex;
    flex-direction: column;
    height: inherit;
/*    align-items: center;
    justify-content: center;*/
}

tr{
    display: inline-block;
    flex-direction: row;
    height: inherit;
    margin-right: 25px;
    margin-left: 15%;
}

/*body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
}*/


/*.background{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: linear-gradient(180deg, #9C3535 41.15%, rgba(156, 53, 53, 0.51) 100%, rgba(156, 53, 53, 0.51) 100%);
}*/

.background>h1{
    margin-right: 25px;
    margin-left: 6%;
}

h3{
    margin-right: 25px;
    margin-left: 6%;
}
