body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
}


.container{
    background: linear-gradient(180deg, #9C3535 41.15%, rgba(156, 53, 53, 0.51) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.container > form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 50%;
}

.container > form > input{
    background: #FAFAFA;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 15%;
    text-align: center;
    margin: 0 0.5em 0.5em 0.5em;
}


.container > form > div {
    background: linear-gradient(180deg, #9C3535 41.15%, rgba(156, 53, 53, 0.51) 100%);
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 15%;
    text-align: center;
    margin: 0 0.5em 0.5em 0.5em;

}
.container > form > div> input {
    background: #FAFAFA;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 98%;
    width: 100%;
    text-align: center;
    margin: 0 0 0 0;

}



button{
    background: #892D2D;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 15%;
    color: #FFFFFF;
}
a{
    color: cornflowerblue;
}

.Facebook
{
    background: #2432A8;
    color: #FFFFFF;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 12%;
    text-align: center;

}
