<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Upload / Download</title>
</head>
<body>
<div>

    <form th:action="@{/search}" method="get">
        <input type="text" id="txtSearch" name="keyword">
        <button type="submit">Go</button>
    </form>


    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
<!--            <th>Download Link</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="emp:${employees}">
            <td th:text="${emp.id}" />
            <td th:text="${emp.docName}"/>
<!--            <td th:text="${emp.docType}"/>-->
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>