<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">


<head>
	<title>home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet"  href="../static/css/recipeById.css" th:href="@{/css/recipeById.css}" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">homecook</a>
		</div>
		<ul class="nav navbar-nav">
			<li><a href="#" th:href="@{/newRecipe}">Dodaj przepis</a></li>
			<li><a href="#" th:href="@{/recipes/user}">Moje przepisy</a></li>
			<li><a href="#" th:href="@{/recipes}">Przepisy</a></li>
		</ul>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Wyloguj się</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="container">

	<h2 th:inline="text">Witaj [[${#httpServletRequest.remoteUser}]]</h2>
</div>

</body>
</html>
