<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="utf-8">
	<title>Login</title>
	<link rel="stylesheet"  href="../static/css/login.css" th:href="@{/css/login.css}" >
</head>
<body>

<div class = "container">
			<div class = "logo">
				<img src="../static/img/logo.svg"  th:src="@{img/logo.svg}"/>
			</div>

		<form th:action="@{/login}" method="post">

				<!-- error message -->
				<div th:if="${param.error}">
					<div class="alert alert-danger">Niepoprawny nick lub hasło.</div>
				</div>

				<!-- logout message -->
				<div th:if="${param.logout}">
					<div class="alert alert-info">Zostałeś wylogowany.</div>
				</div>

					<input type="text"  id ="username" name = "username"
						   placeholder="Nick" autofocus="autofocus">


				 <input type="password" id="password" name="password" class="form-control"
						placeholder="Hasło" />

				<button type="submit" class="btn"> Zaloguj się</button>

				<button class="Facebook"> Zaloguj się za pomocą Facebook</button>

			</form>
			<div class="form-group">
				<span>Nie masz jeszcze konta? <a href="/" th:href="@{/registration}">Zarejestruj się tutaj</a></span>
			</div>
</div>
</body>
</html>
