<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <title>Spring Boot Thymeleaf Application - Bootstrap Rich Text Editor</title>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">homecook</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" th:href="@{/recipes/user}">Moje przepisy</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#" th:href="@{/recipes}">Przepisy</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="row">
        <div class="col-xl-12 mt-5">
            <form  th:action="@{/add-recipe}" th:object="${recipe}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="recipeName">Nazwa:</label>
                    <input id="recipeName" autocomplete="off" class="form-control" type="text" th:field = "*{recipeName}">
                </div>
                <div class="form-group">
                    <label for="recipeDescription">Opis:</label>
                    <textarea type="text"  id="recipeDescription" rows="4" placeholder="Content" th:field = "*{recipeDescription}"></textarea>
                </div>
                <div class="form-group">
                    <label for="image">Zdjecie:</label>
                    <input id="image" type="file" name="image" accept="image/png, image/jpeg" multiple />
                </div>
                <button class="btn btn-primary" type="submit">Dodaj</button>
            </form>
        </div>
    </div>

</div>


<script>
    $('#recipeDescription').summernote({
        height: 200
    });
</script>

</body>
</html>
