<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User recipes</title>
    <link rel="stylesheet"  href="../static/css/login.css" th:href="@{/css/upload.css}" >
</head>
<body>


<div>

    <table>

        <tbody>
        <tr th:each="recipe:${recipe}">
            <td th:text="${recipe.recipeName}"/>
            <td th:text="${recipe.recipeDescription}"/>
            <td th:text="${recipe.id}"/>
            <td th:text="${recipe.user}"/>

        </tr>
        </tbody>
    </table>
</div>

</body>
</html>