<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All recipes</title>
    <link rel="stylesheet"  href="../static/css/allRecipes.css" th:href="@{/css/allRecipes.css}" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" th:href="@{/}">homecook</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#" th:href="@{/newRecipe}">Dodaj przepis</a></li>
            <li><a href="#" th:href="@{/recipes/user}">Moje przepisy</a></li>
        </ul>
    </div>
</nav>

<div>
    <form th:action="@{/recipes}" method="get">
        <input type="text" id="txtSearch" name="keyword" >
        <button type="submit">Szukaj</button>
    </form>
    <br>
    <table>

        <tbody>
        <tr th:each="recipe:${recipes}">
            <td><a th:href="@{'/recipe/'+${recipe.id}}"> <img th:src="@{${recipe.getPhotosImagePath()}}" width="200" height="200"></a></td>
            <td th:text="${recipe.recipeName}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
