<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">


<head>
    <title>Recipe</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet"  href="../static/css/recipeById.css" th:href="@{/css/recipeById.css}" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" th:href="@{/}" > homecook</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#" th:href="@{/newRecipe}">Dodaj przepis</a></li>
            <li><a href="#" th:href="@{/recipes/user}">Moje przepisy</a></li>
            <li><a href="#" th:href="@{/recipes}">Przepisy</a></li>
        </ul>

    </div>
</nav>
<div class="background">
    <table>
        <tbody>
        <tr th:each="recipe:${recipe}">
            <h1 th:text="${recipe.recipeName}"></h1>
            <hr/>
            <h3>Przygotowanie:</h3>
            <td th:utext="${recipe.recipeDescription}"></td>
            <td><img th:src="@{${recipe.getPhotosImagePath()}}" width="500" height="500"/></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
