<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipes User</title>

    <link rel="stylesheet"  href="../static/css/recipesUsers.css" th:href="@{/css/recipesUsers.css}" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"  th:href="@{/}">homecook</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#" th:href="@{/newRecipe}">Dodaj przepis</a></li>
            <li><a href="#" th:href="@{/recipes}">Przepisy</a></li>
        </ul>

    </div>
</nav>
<div>
    <table>
        <tbody>
        <tr th:each="recipe:${recipe}">
            <td><a th:href="@{'/recipe/'+${recipe.id}}"> <img th:src="@{${recipe.getPhotosImagePath()}}" width="200" height="200"></a></td>
            <td th:text="${recipe.recipeName}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
