<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="utf-8">
	<title>Registration</title>
	<link rel="stylesheet"  href="../static/css/registration.css" th:href="@{/css/registration.css}" >
</head>
<body>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

	<title>Registration</title>
</head>
<body>
	<div class="container">
						<div class = "logo">
							<img src="../static/img/logo.svg"  th:src="@{img/logo.svg}"/>
						</div>
						<form action="#" th:action="@{/registration}" th:object="${user}" method="POST">
							<p class="error-message"
							   th:each="error : ${#fields.errors('email')}"
							   th:text="${error}">Validation error</p>

							<p class="error-message"
							   th:each="error: ${#fields.errors('nick')}"
							   th:text="${error}">Validation error</p>
							<div class="form-group" th:classappend="${#fields.hasErrors('nick')}? 'has-error':''">
								<input type="text" th:field="*{nick}" placeholder="nick" >
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
							<input type="text" th:field="*{email}" placeholder="email" >
							</div>
							<div class="form-group">
							<input type="text" th:field="*{name}" placeholder="imię" >
							</div>
							<div class="form-group">
							<input type="password" th:field="*{password}" placeholder="hasło" >
							</div>
							<button type="submit" class="btn"> Zarejestruj się</button>
						</form>
						<span>Posiadasz już konto? <a href="/" th:href="@{/login}">Zaloguj się tutaj</a></span>
	</div>
</body>
</html>
