<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="ISO-8859-1">
<title>Registration</title>
	<link rel="stylesheet"  href="../static/css/registration.css" th:href="@{/css/registration.css}" >
</head>
<body>

	<!-- Create HTML registration form -->
	<div class="container">
<!--				<div th:if="${param.success}">
					<div class="alert alert-info">You've successfully registered
						to our awesome app!</div>
				</div>-->
						<div class = "logo">
							<img src="../static/img/logo.svg"  th:src="@{img/logo.svg}"/>
						</div>
						<form action="#" th:action="@{/registration}" th:object="${user}"
							  method="POST">
							<input  type="text" th:field="*{nick}" placeholder="nick" >
							<input  type="text" th:field="*{email}" placeholder="email" >
							<input type="text" th:field="*{name}" placeholder="name" >
							<input type="password" th:field="*{password}" placeholder="Password" >

							<button type="submit" class="btn"> Register</button>
							<!--				<button class="Facebook"> Login with Facebook</button>-->
						</form>
						<span>Already registered? <a href="/" th:href="@{/login}">Login here</a></span>
	</div>
</body>
</html>