<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>users</title>
    <link rel="stylesheet"  href="../static/css/login.css" th:href="@{/css/upload.css}" >
</head>
<body>
<div>

    <table>

        <tbody>
        <tr th:each="fil:${users}">
            <td th:text="${fil.email}"></td>
            <td th:text="${fil.password}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>